<br>
<br>
<br>
<br>
<br>
    <div class="container">
        <h1>User Management</h1>
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.username %></td>
                        <td><%= user.role %></td>
                        <td>
                            <a href="/superadmin/edit_user/<%= user._id %>">Edit</a>
                            <form action="/superadmin/delete_user/<%= user._id %>" method="POST" style="display:inline;">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
